.HomeContainer {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}

.Button {
  align-self: center;
}

.Input {
  flex: 1;
}

.Form {
  display: flex;
  gap: 40px;
}
